requests==2.2.0 # Apache License 2.0

# Testing
coverage==3.7.1 	# BSD License
nose==1.3.3 		# LGPL
httpretty==0.8.0 	# MIT License
pep8==1.5.7 		# MIT
pylint==1.2.1 		# GPL
pep257==0.3.2		# MIT
mock==1.0.1			# BSD
testfixtures==4.0.0 # MIT
